
<a id="toggle_prn_form"
class="list-group-item list-group-item-warning"
tabindex="0"
href="#" data-toggle="popover" data-placement="left" data-html="true" title="Add PRN {{ label|title }}" role="button"
data-content="
<div class='list-group'>
{% for prn_form in prn_forms %}
<a id='show-link-to-add-{{ prn_form.model }}' class='list-group-item list-group-item-warning'
href='{{ prn_form.add_url }}?next={{ subject_dashboard_url }},appointment,subject_identifier&subject_identifier={{ subject_identifier }}&appointment={{ appointment_pk }}&{{ prn_form.visit_model_attr }}={{ prn_form.subject_visit }}&panel_name={{ prn_form.panel.name }}'>
<i class='fa fa-plus fa-fw pull-left' aria-hidden='true'></i> <small>{{ prn_form.verbose_name }}</small>
</a>	
{% endfor %}
</div>
<p><a class='btn btn-sm btn-primary pull-right'><i class='fa fa-close fa-fw' aria-hidden='true'></i></a><br></p>">
<span class="text text-default" title="Click to see more ..."><i class="fa fa-caret-left" aria-hidden="true"></i> <small>Add PRN {{ label |title }}s</small></span>
</a>
